body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FAF9F6;
}

nav {
  height: 8vmin;
  font-size: 2.4vmin;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  transition: .2s;
}

h1 {
  margin-top: 8vmin;
  font-size: 6.5vmin;
  width: 120vmin
}

.concert-name-container {
  max-width: 500px; 
  margin: 0 auto; 
  word-wrap: break-word;
}

.concert-image {
  width: 100px;
  height: 100px;
  object-fit: cover; 
}

#search-btn {
  margin-left: 1.5vmin;
}

#drop-down {
  margin-top: -1vmin;
  width: 32vmin
}

#cart {
  width: 5vmin;
  border-radius: 100%;
}

main#home {
  display: flex;
  flex-direction: row;
}

main#home > div {
  margin-top: 8vmin;
  width: 120vmin;
  background-color: #00bcf8;
  background-image: linear-gradient(0deg, #00bcf8 0%, #FFEFFF 71%);
}


main#home > div > p {
  font-size: 4vmin;
  margin: 5vmin;
  margin-top: 8vmin;
}

main#home > img {
  width: 100vmin;
  height: 100vmin;
}

div#sign-up {
  margin-top: 15vmin;
  margin-left: 10vmin;
}

div#about {
  margin: 4vmin;
}

div#about {
  margin-top: 4vmin;
}

div#about > h2{
  font-size: 5vmin;
  margin-top: 8vmin;
}

div#about > ul > li {
  font-size: 4vmin;
  margin: 2vmin;
}

span{
  color: #00BCF8;
}

div#checkout {
  margin: 10vmin;
  width: 150vmin
}

div#checkout > ul {
  font-size: 3vmin;
  list-style-type: none;
}

div#checkout > p {
  font-size: 3vmin;
}

div#concert-index > ul {
  font-size: 2vmin;
  margin: 3vmin;
  list-style-type: circle;
}

#add-cart {
  position: relative;
  right: 5;
}