body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FAF9F6;
}

nav {
    height: 12vmin;
    font-size: 3vmin;
}

.concert-name-container {
  max-width: 500px; 
  margin: 0 auto; 
  word-wrap: break-word;
}

.concert-image {
  width: 100px;
  height: 100px;
  object-fit: cover; 
}

#search-btn {
  margin-left: 1.5vmin;
}

#drop-down {
  margin-top: -1vmin;
  width: 32vmin
}

#cart {
  width: 5vmin;
  border-radius: 100%;
}

main#home {
  display: flex;
  flex-direction: row;
}

main#home > div {
  margin-top: 5vmin;
  width: 120vmin;
  background-image: url('https://t4.ftcdn.net/jpg/01/29/27/73/360_F_129277373_HOQaWFD8bupLUvqF6NWg4dkSkR80HPzO.jpg');
  background-size: 150vmin;
}

main#home > div > p {
  font-size: 4vmin;
  margin: 5vmin;
  margin-top: 8vmin;
}

main#home > div > p > span{
  font-size: 4vmin;
  margin: 5vmin;
  color: #00BCF8;
}

main#home > img {
  width: 80vmin;
  height: 100vmin;
}