{% extends 'base.html' %}
{% block content %}

<main id="home">
    <div>
        <h1 class="text-center mb-4" style="color: #00BCF8;">Experience Live Music with Ease Using concertSpots</h1>
        <p>Our platform is designed to make the ticket buying process easy, efficient, and stress-free. With just a few clicks, you can browse available concerts, select your seats and purchase your tickets securely.</p>
    </div>
    <img src="https://images.pexels.com/photos/2147029/pexels-photo-2147029.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
</main>

{% endblock %}