{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="text-center mb-2" style="color: #00BCF8; width: 100vmin" >Details:</h1>
        <br>
        <p class="text-center mb-3" style="font-size: 20px; font-weight: 500;">{{ ticket.event_name }}</p>
        <p class="text-center mb-3">Price: ${{ ticket.price }}</p>
        <p class="text-center mb-3">{{ ticket.location }}</p>
        <p class="text-center mb-4">{{ ticket.date }}</p>
        <div class="d-flex justify-content-center">
          <a href="{% url 'ticket_delete' ticket.id %}" class="btn btn-danger mr-2">Delete</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
